CI_ENVIRONMENT = development
app.baseURL = 'http://localhost/tasks-today-tsa2/public/'
database.default.hostname = localhost
database.default.database = tasks_today_tsa2
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi

